/******************************************************************************
HTML
******************************************************************************/

html{

    width:100%;

    height:100%;

    margin:0;

    padding:0;

}

/******************************************************************************
BODY
******************************************************************************/

body{
display: flex;
justify-content: center;
align-items: center;
    margin:0;

    padding:0;

    width:100vw;

    height:100vh;

    overflow:hidden;

    position:relative;

    font-family:Poppins,sans-serif;

    background:
        radial-gradient(circle at top,
        #4b1248 0%,
        #22052d 45%,
        #090013 100%);

}

/******************************************************************************
APPLICATION
******************************************************************************/

#app{

    position:relative;

    width:100vw;

    height:100vh;

    overflow:hidden;

    z-index:10;

}